<!-- <section class="banar"></section> -->

<section>
    <div class="container">
        <div class="text-center">
            <h1>The Power Of Sale</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
        </div>
        <div class="row">
            <div class="col" routerLink="/packges_details">
                <div class="cardStyle">
                    <img src="../../../assets/images/ban-1.png">
                    <h2>Title</h2>
                    <ul>
                        <li>- one</li>
                        <li>- tow</li>
                        <li>- three</li>
                    </ul>
                </div>
            </div>
            <div class="col" routerLink="/packges_details">
                <div class="cardStyle">
                    <img src="../../../assets/images/ban-1.png">
                    <h2>Title</h2>
                    <ul>
                        <li>- one</li>
                        <li>- tow</li>
                        <li>- three</li>
                    </ul>
                </div>
            </div>
            <div class="col" routerLink="/packges_details">
                <div class="cardStyle">
                    <img src="../../../assets/images/ban-1.png">
                    <h2>Title</h2>
                    <ul>
                        <li>- one</li>
                        <li>- tow</li>
                        <li>- three</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>