<!-- <section class="banar"></section> -->

<section>
    <div class="container">
        <div class="text-center">
            <h1>The Power Of Sale</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 pack" *ngFor="let item of allPacges" (click)="pack_details(item.id)">
                <div class="cardStyle">
                    <img [src]="item.image">
                    <h2>{{item.name}}</h2>
                    <!-- <ul>
                        <li *ngFor="let prod of item.products">- {{prod.name}}</li>
                    </ul> -->
                </div>
            </div>
        </div>

    </div>
</section>