<section>
    <div class="container">

        <div class="row">
            <div class="col-6">
                    <img src="assets/images/4.jpg" alt="">
            </div>
            <div class="col-6">
                <section class="main">
                    <h2>Packge Name</h2>
                    <h2>400 LE</h2>
                    <p>
                        Your ultimate favorite Ombre is back in a gorgeous rose hue! Super soft, light and breathable
                        Modal,
                        a
                        gorgeous material for scarves. Featured here in an Ombré of a feminine gradient hues of rose &
                        white.
                        Everyday simplicity.
                    </p>
                </section>
                <h4>Discount 50%</h4>
            </div>
        </div>

        <div class="product">
            <h3>Prod Name</h3>
            <div >
                <p>total item (2)</p>
                <img src="../../../assets/images/pexels-ge-yonk-1152077.jpg">
            </div>

        </div>
        <div class="product">
                <h3>Prod Name</h3>
                <div >
                    <p>total item (2)</p>
                    <img src="../../../assets/images/pexels-ge-yonk-1152077.jpg">
                </div>
    
            </div>
        <button class="btn addOrder">Add Order</button>
    </div>
</section>