<section class="container">
    <div class="row">
        <div class="col-6">
            <swiper [config]="config">
                <ng-template swiperSlide>
                    <div class="product-item">
                        <figure class="product-thumb">
                            <img src="assets/images/products/1.jpg" alt="">
                        </figure>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="product-item">
                        <figure class="product-thumb">
                            <img src="assets/images/products/1.jpg" alt="">
                        </figure>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="product-item">
                        <figure class="product-thumb">
                            <img src="assets/images/products/1.jpg" alt="">
                        </figure>
                    </div>
                </ng-template>
            </swiper>
        </div>
        <div class="col-6">
            <section class="main">
                <h2>Prdouct Name</h2>
                <div class="rate">
                    <a href="#"><i class="ti-star"></i></a>
                    <a href="#"><i class="ti-star"></i></a>
                    <a href="#"><i class="ti-star"></i></a>
                    <a href="#"><i class="ti-star"></i></a>
                    <a href="#"><i class="ti-star"></i></a>
                </div>
                <h2>400 LE</h2>
                <p>
                    Your ultimate favorite Ombre is back in a gorgeous rose hue! Super soft, light and breathable Modal,
                    a
                    gorgeous material for scarves. Featured here in an Ombré of a feminine gradient hues of rose &
                    white.
                    Everyday simplicity.
                </p>

                <div class="size">
                    <h4>Size</h4>
                    <span>S</span>
                    <span>M</span>
                    <span>L</span>
                    <span>XL</span>
                </div>
                <div class="addToCart">
                    <div class="plus">
                        <button class="btn ">+</button>
                        <span>1</span>
                        <button class="btn ">-</button>
                    </div>
                    <button class="btn btn_addCart">Add to Cart</button>
                </div>
            </section>
            <hr>
            <h3>
                Product Description
            </h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy
            </p>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-3">
            <h4>REVIEWS (20)</h4>
        </div>
        <div class="col-9">
            <h4>20 reviews for SheIn Bag</h4>
            <div class="review">
                <div class="row">
                    <div class="col-2">
                        <img class="img-fluid" src="assets/images/user.png">
                    </div>
                    <div class="col-10">
                        <div>
                            <div class="rate">
                                <a href="#"><i class="ti-star"></i></a>
                                <a href="#"><i class="ti-star"></i></a>
                                <a href="#"><i class="ti-star"></i></a>
                                <a href="#"><i class="ti-star"></i></a>
                                <a href="#"><i class="ti-star"></i></a>
                            </div>
                            <p>Ahmed – 29 October, 2017</p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <img class="img-fluid" src="assets/images/user.png">
                    </div>
                    <div class="col-10">
                        <div>
                            <div class="rate">
                                <a href="#"><i class="ti-star"></i></a>
                                <a href="#"><i class="ti-star"></i></a>
                                <a href="#"><i class="ti-star"></i></a>
                                <a href="#"><i class="ti-star"></i></a>
                                <a href="#"><i class="ti-star"></i></a>
                            </div>
                            <p>Ahmed – 29 October, 2017</p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="addReview">
                <h4>Add a review </h4>
                <p>Your rating *</p>
                <div class="addRate">
                    <div class="rate">
                        <a href="#"><i class="ti-star"></i></a>
                    </div>
                    <div class="rate">
                        <a href="#"><i class="ti-star"></i></a>
                        <a href="#"><i class="ti-star"></i></a>
                    </div>
                    <div class="rate">
                        <a href="#"><i class="ti-star"></i></a>
                        <a href="#"><i class="ti-star"></i></a>
                        <a href="#"><i class="ti-star"></i></a>
                    </div>
                    <div class="rate">
                        <a href="#"><i class="ti-star"></i></a>
                        <a href="#"><i class="ti-star"></i></a>
                        <a href="#"><i class="ti-star"></i></a>
                        <a href="#"><i class="ti-star"></i></a>
                    </div>
                    <div class="rate">
                        <a href="#"><i class="ti-star"></i></a>
                        <a href="#"><i class="ti-star"></i></a>
                        <a href="#"><i class="ti-star"></i></a>
                        <a href="#"><i class="ti-star"></i></a>
                        <a href="#"><i class="ti-star"></i></a>
                    </div>
                </div>
                <div class="form-group">
                    <label>Your review *</label>
                    <textarea class="form-control"></textarea>
                </div>
                <div class="inputs">
                    <div>
                        <label>Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label>Email</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <button class="btn submit">Submit</button>
            </div>
        </div>


    </div>

</section>