section{
    width: 50%;
    border: 1px solid #cdcdcd;
    padding: 20px;
    margin: 10px auto;
    border-radius: 10px;
}
section img {
    width: 150px;
}
section .btn {
    background: #dcb78d;
    border: none;
    margin-top: 10px;
}