<section>
    <div class="container">
        <div class="title">
            <h1>
                Category Name
            </h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy</p>
        </div>


        <div class="main">
            <div class="row">
                <div class="col-4">
                    <div class="product-item" routerLink="/products_details">
                        <figure class="product-thumb">
                            <img src="assets/images/products/8.jpg" alt="">
                            <div class="action-links">
                                <!-- <button class="btn btn-cart">Add To Cart</button> -->
                                <!-- <a href="#" class="quick-view icon"><i class="ti-eye"></i></a>
                                <a href="#" class="wishlist icon"><i class="ti-heart"></i></a>
                                <a href="#" class="add-cart icon"><i class="ti-shopping-cart"></i></a> -->
                            </div>
                        </figure>
                        <div class="product-content">
                            <h5 class="product-name"><a href="#">Red Women Purses</a></h5>
                            <div class="ratings">
                                <a href="#"><i class="ti-star"></i></a>
                                <a href="#"><i class="ti-star"></i></a>
                                <a href="#"><i class="ti-star"></i></a>
                                <a href="#"><i class="ti-star"></i></a>
                                <a href="#"><i class="ti-star"></i></a>
                            </div>
                            <p class="price">$35</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product-item" routerLink="/products_details">
                        <figure class="product-thumb">
                            <img src="assets/images/products/8.jpg" alt="">
                            <div class="action-links">
                                <button class="btn btn-cart">Add To Cart</button>
                                <!-- <a href="#" class="quick-view icon"><i class="ti-eye"></i></a>
                                    <a href="#" class="wishlist icon"><i class="ti-heart"></i></a>
                                    <a href="#" class="add-cart icon"><i class="ti-shopping-cart"></i></a> -->
                            </div>
                        </figure>
                        <div class="product-content">
                            <h5 class="product-name"><a href="#">Red Women Purses</a></h5>
                            <div class="ratings">
                                <a href="#"><i class="ti-star"></i></a>
                                <a href="#"><i class="ti-star"></i></a>
                                <a href="#"><i class="ti-star"></i></a>
                                <a href="#"><i class="ti-star"></i></a>
                                <a href="#"><i class="ti-star"></i></a>
                            </div>
                            <p class="price">$35</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product-item" routerLink="/products_details">
                        <figure class="product-thumb">
                            <img src="assets/images/products/8.jpg" alt="">
                            <div class="action-links">
                                <button class="btn btn-cart">Add To Cart</button>
                                <!-- <a href="#" class="quick-view icon"><i class="ti-eye"></i></a>
                                        <a href="#" class="wishlist icon"><i class="ti-heart"></i></a>
                                        <a href="#" class="add-cart icon"><i class="ti-shopping-cart"></i></a> -->
                            </div>
                        </figure>
                        <div class="product-content">
                            <h5 class="product-name"><a href="#">Red Women Purses</a></h5>
                            <div class="ratings">
                                <a href="#"><i class="ti-star"></i></a>
                                <a href="#"><i class="ti-star"></i></a>
                                <a href="#"><i class="ti-star"></i></a>
                                <a href="#"><i class="ti-star"></i></a>
                                <a href="#"><i class="ti-star"></i></a>
                            </div>
                            <p class="price">$35</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>