<section class="banar"></section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card_style" routerLink="/Products">
                    <img src="assets/images/1.jpg">
                    <div>
                        <h1>Women Bags</h1>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <div class="card_style" routerLink="/Products">
                        <img class="card" src="assets/images/2.jpg">
                        <div>
                            <h1>Men Bags</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div>
                    <div class="card_style" routerLink="/Products">
                        <img class="card" src="assets/images/3.jpg">
                        <div>
                            <h1>Old Fashion</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <div class="card_style" routerLink="/Products">
                        <img class="card" src="assets/images/6.jpg">
                        <div>
                            <h1>Accecories</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>