<section class="banar"></section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12"
             *ngFor="let item of all_categoy ; let i = index">
                <div class="card_style" (click)="cat_details(item)">
                    <img [src]="item.image.image">
                    <div>
                        <h1>{{item.name | uppercase}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>