.card_style .row {
    align-items: center
}
.card_style img{
    width: 100px
}
.card_style a {
    text-decoration: underline;
    color: red
}
.shopping {
    margin-bottom: 20px
}
.shopping p {
    color: red;
    text-decoration: underline;
}
.Checkout {
    margin-top: 5%
}
.Checkout button {
    background: #cb9349;
}